.form {
  max-width: 385px;
}

.form__label {
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__button {
  padding: 20px 0;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #1878DC;
  color: #ffffff;
  border: none;
  margin-bottom: 32px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 1s ease;
  border-radius: 4px;
}

.form__button:hover {
  transition: opacity .7s ease;
  background-color: #3f96f3;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
  padding: 0;
}